<link rel="stylesheet" href="/stylesheets/nav.css">
    <nav class="navbar">
<h2 class="logo"> NotesApp</h2>
<div class="nav-links">
    <a href="/">Home</a>
    <a href="/dashboard">Dashboard</a>
    <a href="/profile">Profile</a>
</div>

<div class="nav-links navright">
    <a href="/signin">Signin</a>
<a href="/logout">logout</a>
</div>
    </nav>
