<%- include('partials/header') %>
<div class="container">
  <div class="card">
    <h2>Reset password</h2>
    <form action="/reset" method="post">

    <div class="input-group">
    <input type="password" name="oldpassword" required>
        <label>Oldpassword</label>
      </div>

       <div class="input-group">
    <input type="password" name="newpassword" required>
        <label>Newpassword</label>
      </div>
      <button type="submit">Change Password</button>
    </form>
  </div>
</div>


<%- include('partials/footer')%>